.wallet_dropdown{
    display: flex;
    align-items: center;
    width: 7rem;
    gap: 0.5rem;
    position: absolute;
    right: 11%;
    background-color: var(--main-bg-color);
    justify-content: center;
    /* margin-top: 0.5rem; */
    border: 2px solid var(--bg-light-color);
    border-radius: 5px;
    margin-top: 0.5rem;
    cursor: pointer;
}