.home_right_box{
    padding: 1rem;
}
.home_right_box_exchange{
    background-color: var(--bg-light-color);
    border-radius: 5px;
    padding: 2rem;
}
.home_right_box_bar{
    display: flex;
    justify-content: space-around;
    background-color: var(--shadow-light-color);
    border-radius: 5px;
}
.home_right_box_bar > div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    justify-content: center;
    cursor: pointer;
}
.home_right_box_bar > div:hover {
    background-color: var(--main-bg-color);
}
.home_right_box_exhange_buy_input ,.home_right_box_exhange_eth_input{
    background-color: var(--shadow-light-color);
    border-radius:5px;
    margin: 1rem 0rem;
}
.home_right_box_exhange_buy_input > div ,.home_right_box_exhange_eth_input >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
}
.home_right_box_exhange_buy_input>div:nth-child(2){
    margin: 0;
    
}

.dai_box{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.dai_box >img{
    height: 1.3rem;
    width: 1.3rem;
}

.swap_button{
    z-index: 4;
    background-color: white;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    margin-top: -1.8rem;
    margin-bottom: -1.8rem;
}
.exchange_swap{
    height: 1.6rem;
    width: 1.6rem;
    color: var(--head-color);
}
.eth_input , .dai_input{
    background-color: var(--shadow-light-color);
    border: none;
    outline: none;
    color: var(--text-color);
    width: 70%;
    height: 2rem;
    font-size: 1.5rem;
}
input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type=number] {
    -moz-appearance: textfield;
}
.exchange_info >div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0rem;
}
.exchange_info > div >p{
    margin: 0.3rem 0rem;
    width: 100%;
}
.wallet_connect{
    width: 100%;
    margin-top: 2rem;
    align-self: center;
}
.home_right_box_exchange_info{
    margin-top: 1rem;
    background-color: var(--bg-light-color);
    border-radius: 5px;
    padding-bottom: 2rem;
}
.home_right_box_exchange_info > h2{
    border-bottom: 1px solid var(--shadow-light-color);
    padding: 1rem;
}
.home_right_box_exchange_details > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem;
    margin: 0rem;
}
.home_right_box_exchange_details >div>p{
    margin: 0.3rem;
    width: 100%;
}
.home_right_box_exchange_details > div>p:nth-child(2) , .exchange_info >div>p:nth-child(2){
    display: flex;
    justify-content: flex-end;
}